.large {
    font-size: 30px;
}
.large2 {
    font-size: 35px;
}
.large3 {
    font-size: 40px;
}
.large4 {
    font-size: 45px;
}
.large5 {
    font-size: 50px;
}


.small {
    font-weight: bold;
    font-size: 12px;
}
.small2 {
    font-weight: bold;
    font-size: 11px;
}
.small3 {
    font-weight: bold;
    font-size: 10px;
}.small4 {
    font-weight: bold;
    font-size: 9px;
}
.small5 {
    font-weight: bold;
    font-size: 8px;
}
.small6 {
    font-weight: bold;
    font-size: 7px;
}
.small7 {
    font-weight: bold;
    font-size: 6px;
}
.small8 {
    font-weight: bold;
    font-size: 5px;
}
.small9 {
    font-weight: bold;
    font-size: 4px;
}
.small10 {
    font-weight: bold;
    font-size: 3px;
}
