.right {
    float: right;
}
.center {
    position: relative;
    text-align: center
}
.down {
    position: relative;
    top: 5px
}
.wave {
    font-size: 3em;
    position: relative;
    left: 10%;
}
.island {
    font-size: 3em;
    position: relative;
    left: 25%;
}